# Enviroment
NODE_ENV=development

# App
HOST=http://localhost
PORT=5001 
API_VERSION=api/v1
BASE_URL=http://localhost:5001/api/v1

DB_URI=postgresql://postgres:postgres@host:port/DataBase

# System API URLs
SYSTEM_TRANSACTION_WEBHOOK_ROUTE=bank-integrations/transaction-webhook

# External Bank API URLs
MOCK_BANK_ROUTE=mock-bank
MOCK_BANK_SIMULATE_TRANSACTION=mock-bank/simulate-transaction
MOCK_BANK_DEBIT_ROUTE=mock-bank/debits
MOCK_BANK_DEPOSIT_ROUTE=mock-bank/deposits

# External Exchange API URLs
MOCK_EXCHANGE_ROUTE=mock-exchange
MOCK_EXCHANGE_PRICES=mock-exchange/prices
MOCK_EXCHANGE_BUY=mock-exchange/buy
MOCK_EXCHANGE_SELL=mock-exchange/sell
MOCK_EXCHANGE_SET_PRICES=mock-exchange/set-prices

# Default values - Major unit
DEFAULT_ROUND_UP_STEP=10

# GitHub Models
GITHUB_TOKEN=ghp_Fakka31234K1XhxwLD1234uQH2av12343iMq1K
AI_MODEL=gpt-4.1